<div class="container-fluid">
    <% issues.forEach(function(task) { %>
    <div class="row-fluid img-polaroid span8" style="margin-bottom: 5px; margin-left:0px;">
        <div class="container-fluid">
            <h4 <% if (task.state == 'closed') {%>class="strike"<% } %>>#<%= task.iid %>
                <a href="<%=: projects | getIssuesUrl:task.project_id,task.iid %>"><%= task.title %></a>
				<span class="badge
				<% if (task.state == 'opened') {%>
				badge-success
				<% } else if (task.state == 'reopened') {%>
				badge-warning
				<% } %>
				"><%= task.state %></span>
            </h4>

            <div class="span2">Project: <a href="<%=: task.project_id | getProjectLocalUrl %>"><%=: projects | getProjectName:task.project_id %></a></div>
            <div class="span2">Author: <%= task.author.name %></div>
            <div class="span2">Tags:
                <% for (var key in task.labels) {%>
                <span class="label <%=: task.labels[key] | labelColor %>"><%= task.labels[key] %></span>
                <% } %>
            </div>

            <div class="row-fluid span12">
                <h5>Задача</h5>
                <div class="well well-small span11">
                    <p class="task-description"> <%= task.description %></p>
                </div>

            </div>
        </div>
    </div>
    <% }) %>
</div>